{% extends "layout.html" %}
{% block body %}
    <br><br>
    <div class="row">
        <div class="six columns offset-by-three">
            {% if password.comment %}
            <div class="u-full-width comment rounded">
                <pre>{{ password.comment }}</pre>
            </div>
            {% endif %}
            <label for="email">enter your email address</label>
            <input class="u-full-width" name="email" id="email" type="text" />
            <input class="u-full-width" type="button" value="decrypt" onclick="decrypt();" />
            <div class="u-full-width center-content password">
                <pre><span id="password"></span></pre>
            </div>
        </div>
    </div>
    <script>
function decrypt() {
    var key = document.getElementById("email").value;
    var decrypted = CryptoJS.AES.decrypt("{{ password.cipher }}", key).toString(CryptoJS.enc.Utf8);
    if (decrypted === "") {
        show_flash("Decryption failed. Incorrect key.");
    } else {
        var password = document.getElementById("password");
        password.innerHTML = decrypted;        
    }
}
    </script>
{% endblock %}
